<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>tmpbookmarket</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>

  </welcome-file-list>
  
  <!-- 보안 적용 그룹 지정 : 어떤 그룹을? -->
  <security-role>
  	<description></description>
  	<role-name>admin</role-name>
  </security-role>
  
  <!-- 누구를? -->
  <security-constraint>
  	<display-name>BookMarket Security</display-name>
  	<!-- 검사 대상 지정 : 어떤 URL을 검사 할 것인지 -->
  	<web-resource-collection>
  		<web-resource-name>tmpbookmarket</web-resource-name>
  		<url-pattern>/add_control</url-pattern>

  	</web-resource-collection>
  	<!-- 권한 그룹 지정 : 어느 그룹에게 권한을 줄 것인지 -->
  	<auth-constraint>
  		<description>권한 관리자명</description>
  		<role-name>admin</role-name>
  	</auth-constraint>
  </security-constraint>
  <!-- 누구인지 검사 방법 지정 -->
  <login-config> 
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/login.jsp</form-login-page>
  		<form-error-page>/login_failed.jsp</form-error-page>
  	</form-login-config> 
  </login-config>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/exceptionNoPage.jsp</location>
  </error-page>
  
  <filter>
  	<filter-name>logFilter</filter-name>
  	<filter-class>filter.logFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>logFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>logFileFilter</filter-name>
  	<filter-class>filter.logFileFilter</filter-class>
  	<init-param>
  		<param-name>filename</param-name>
  		<param-value>c:\\logs\\bookmarket.log</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>logFileFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>